body{
    min-height: 100vh;
    background: hsl(212, 45%, 89%);
    padding: 1% 1%;
    border-radius: 1.2rem;
    font-family: 'Outfit', sans-serif;
    display: grid;
    place-items: center;
}
main{
    background:  hsl(0, 0%, 100%);
    width: 17rem;
    height: 30rem;
    padding: 1% 1%;
    border-radius: 1.5rem;
    display: grid;    
    place-items: center;
    box-shadow: 4px 5px 15px rgba(185, 185, 203, 0.808);
}
img{
    width: 17rem;
    border-radius: 0.7rem;
}
h3{
    text-align: center;
    font-size: 1.29rem;
}
p{
    text-align: center;
    font-size: 0.95rem;
    padding: 5.17%;
    color: hsl(220, 15%, 55%);
    margin-top: -1rem;
}
a{
    text-decoration: overline;
    color: hsl(216deg 95% 58%);
}
a:hover{
    color: hsl(220, 15%, 55%);
}
footer{
    color: hsl(216deg 95% 58%);
    position: absolute;
    bottom: 1%;
}
footer:hover{
    color: black;
}

/*Responsiveness*/
@media screen and (max-width: 375px) {
    img{
        width: 16rem;
        margin-top: 0.5rem;
    }
}
