body{
    min-height: 100vh;
    width: 100%;
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    background:  hsl(0, 0%, 100%);
    width: 17rem;
    height: 32rem;
    padding: 0.3% 1%;
    border-radius: 1.5rem;
    display: grid;    
    place-items: center;
    box-shadow: 4px 5px 15px rgba(185, 185, 203, 0.808);
}
img{
    width: 17rem;
    border-radius: 0.7rem;
}
h3{
    text-align: center;
    font-size: 1.29rem;
}
p{
    text-align: center;
    font-size: 0.95rem;
    padding: 5.17%;
    color: hsl(220, 15%, 55%);
    margin-top: -1rem;
}
a{
    text-decoration: overline;
    color: hsl(216deg 95% 58%);
}
a:hover{
    color: hsl(220, 15%, 55%);
}
footer{
    color: hsl(216deg 95% 58%);
    position: absolute;
    bottom: 1%;
}
footer:hover{
    color: black;
}

/*Responsiveness*/
@media screen and (max-width: 375px) {
    dia screen and (max-width: 375px) {
    img{
        width: 16rem;
    }
    body{
        margin-left: -0.1rem;
    }
}
